/* UPDATE ROLE MODAL STYLING */
body.modal-open {
    overflow: hidden;
}

.role-modal-container {
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.700);
    color: white;
    z-index: 1000;
}

.role-modal {
    background-color: hsl(
    var(--base-hue-primary),
    var(--base-saturation-primary),
    var(--base-lightness-primary));
    width: 425px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2.5%;
    padding: 25px;
}

.role-modal-navigation {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: center;
}

.role-modal-navigation i {
    font-size: 1.3rem;
}

.role-modal-navigation i:hover {
    cursor: pointer;
    scale: 1.2;
}

#updateRoleForm {
    flex: 1;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.role-modal-content {
    flex: 1;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
}

.role-modal-content-header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 7px;
}

.role-modal-content-header h1 {
    font-size: 1.45rem;
    font-weight: 600;
}

.role-modal-content-header p {
    font-size: .95rem;
}

.role-modal-content-body {
    padding: 30px 0 30px 0;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

/* BUTTONS STYLING */
.role-modal-form-check {
    margin-bottom: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.role-modal-form-check:hover .role-modal-form-check-input, .role-modal-form-check-label {
    cursor: pointer;
}

.role-modal-container input[type="radio"] {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.role-modal-form-check-label {
    font-size: 1rem;
    color: white;
}

.role-modal-actions {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.role-modal-actions button {
    background-color: hsl(
    var(--base-hue-primary),
    var(--base-saturation-primary),
    calc(var(--base-lightness-primary) + 15%)
    );
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 650;
    cursor: pointer;
    height: 100%;
    flex-grow: 1;
}

.role-modal-actions button:hover {
    background-color: hsl(
    var(--base-hue-primary),
    var(--base-saturation-primary),
    calc(var(--base-lightness-primary) + 25%)
    );
}

/* MODAL ALERTS STYLING */
.alert-success, .alert-danger, .alert-info {
    width: 100%; 
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.alert-success {
    background-color: var(--alertGreenL);
    border: solid 3px var(--alertGreenH);
    color: var(--alertGreenH);
}

.alert-danger {
    background-color: var(--alertRedL);
    border: solid 3px var(--alertRedH);
    color: var(--alertRedH);
}

.alert-info {
    background-color: var(--alertDefaultL);
    border: solid 3px var(--alertDefaultH);
    color: var(--alertDefaultH);
}

#role-modal-message, #finalStatusMessageArea {
    width: 100%; 
    padding: 0; 
    box-sizing: border-box;
}