/* UPDATE ROLE / UPLOAD MODAL STYLING */
body.modal-open {
    overflow: hidden;
}

.role-modal-container {
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.700);
    color: white;
    z-index: 1000;
}

.role-modal {
    background-color: hsl(
    var(--base-hue-primary),
    var(--base-saturation-primary),
    var(--base-lightness-primary));
    width: 425px;
    max-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2.5%;
    padding: 25px;
    position: relative;
}

.role-modal-navigation {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    position: sticky;
}

.role-modal-navigation i {
    font-size: 1.3rem;
}

.role-modal-navigation i:hover {
    cursor: pointer;
    scale: 1.2;
}

#updateRoleForm {
    flex: 1;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.role-modal-content {
    flex: 1;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 20px;
}

.role-modal-content-header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 7px;
}

.role-modal-content-header h1 {
    font-size: 1.45rem;
    font-weight: 600;
}

.role-modal-content-header p {
    font-size: .95rem;
}

.role-modal-content-body {
    padding: 30px 0 0 0;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.role-modal-form-check {
    margin-bottom: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.role-modal-form-check:hover .role-modal-form-check-input, .role-modal-form-check-label {
    cursor: pointer;
}

.role-modal-container input[type="radio"] {
    margin-right: 8px;
    min-width: 18px;
    min-height: 18px;
}

.role-modal-form-check-label {
    font-size: 1rem;
    color: white;
}

.role-modal-actions {
    height: 50px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.role-modal-actions button {
    background-color: hsl(
    var(--base-hue-primary),
    var(--base-saturation-primary),
    calc(var(--base-lightness-primary) + 15%)
    );
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 650;
    cursor: pointer;
    height: 100%;
    flex-grow: 1;
}

.role-modal-actions button:hover {
    background-color: hsl(
    var(--base-hue-primary),
    var(--base-saturation-primary),
    calc(var(--base-lightness-primary) + 25%)
    );
}

/* GENERAL UPLOAD MODAL STYLING  -- -- -- */
body.modal-open {
  overflow: hidden;
}

#uploadEvaluationConfirmationStep {
  width: 100%;
  height: auto;
}

.role-modal-content-body .form-group {
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  position: relative;
}

.initial-step, .confirmation-step {
    width: 100%;
    overflow: scroll;
    padding-inline: 5px;
}

.role-modal-content-body .form-group .form-group-title {
  display: flex;
  font-weight: bold;
  margin-bottom: 3px;
  font-weight: 500;
}

.form-group-title.file-upload {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.form-group-title.file-upload h6 {
    font-weight: 400;
}

.mt-2 {
  width: 100%;
  height: auto;
}

/* EVERY INPUT THAT ISNT A RADIO BUTTON STYLING -- -- -- */
.role-modal-content-body input:not([type="radio"]):not([type="checkbox"]) {
  width: 100%;
  height: auto;
  padding: 8px 12px 8px 12px;
  border: 2px inset #555;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

.role-modal-content-body input:not([type="radio"]):hover:not([type="checkbox"]):hover:not([type="text"]):hover {
  cursor: pointer;
}

select {
    cursor: pointer;
}

/* DROPDOWN SELECTION STYLING -- -- -- */
.select-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  padding: 8px 12px 8px 12px;
  outline: 1px solid #555;
  border: none;
  border-radius: 6px;

  background-color: hsl(
    var(--base-hue-primary),
    var(--base-saturation-primary),
    calc(var(--base-lightness-primary) + 15%)
    );
  color: #fff;

  cursor: pointer;
}

.select-input:hover {
    background-color: hsl(
    var(--base-hue-primary),
    var(--base-saturation-primary),
    calc(var(--base-lightness-primary) + 25%)
    );
}

.select-input:focus {
  outline: 2px solid #555;
  outline-offset: 2px;
}

/* CHECKBOX STYLING -- -- -- */
.form-group-checkbox {
  width: 100%;
  padding: 8px 12px 8px 12px;
  outline: 1px solid #555;
  border: none;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: .8rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;

  background-color: hsl(
    var(--base-hue-primary),
    var(--base-saturation-primary),
    calc(var(--base-lightness-primary) + 15%)
    );
  color: #fff;
}

.form-group-checkbox label:hover, input[type="checkbox"]:hover {
    cursor: pointer;
}

.form-group-checkbox:hover {
    cursor: pointer;
    background-color: hsl(
    var(--base-hue-primary),
    var(--base-saturation-primary),
    calc(var(--base-lightness-primary) + 25%)
    );
}

.form-group-checkbox:focus {
  outline: 2px solid #555;
  outline-offset: 2px;
}

/* CONFIRMATION MODAL STYLING -- -- -- */
.confirmation-modal-box {
    background-color: hsl(
        var(--base-hue-primary),
        var(--base-saturation-primary),
        var(--base-lightness-primary)
    );
    width: 425px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2.5%;
    padding: 25px;
}

.confirmation-modal-header, .confirmation-modal-body, .confirmation-modal-actions {
    width: 100%;
    height: auto;
    display: flex;
}

.confirmation-modal-header {
    justify-content: end;
    align-items: center;
    font-size: 1.3rem;
}

.modal-slider-controls {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 0px 0px;
}

.modal-slider-controls #fileCounter {
    padding: 10px;
    width: auto;
    height: 100%;
    text-align: center;
}

.modal-slider-controls button {
    background-color: hsl(var(--base-hue-primary), var(--base-saturation-primary), calc(var(--base-lightness-primary) + 15%));
    border: none;
    border-radius: 5px;
    width: auto;
    min-height: 35px;
    font-size: 1.1rem;
    font-weight: 500;
    justify-self: center;
    padding-left: 15px;
    padding-right: 15px;
}

.modal-slider-controls button:hover {
    background-color: hsl(var(--base-hue-primary), var(--base-saturation-primary), calc(var(--base-lightness-primary) + 25%));
    cursor: pointer;
}

.confirmation-modal-header i:hover {
    cursor: pointer;
    scale: 1.2;
}

.confirmation-modal-body {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px 0 0 0;
    gap: 7px;
}

.confirmation-modal-title, #confirmationModalText, #confirmation-final-status-message-area {
    width: 100%;
    height: auto;
}

#confirmation-final-status-message-area {
    margin-top: 30px;
}

.confirmation-modal-title {
    font-size: 1.45rem;
    font-weight: 600;
}

#confirmationModalText {
    font-size: .95rem;
}

.confirmation-modal-actions {
    margin-top: 30px;
    height: 50px;
    gap: 10px;
}

.confirmation-modal-actions button {
    background-color: hsl(
        var(--base-hue-primary),
        var(--base-saturation-primary),
        calc(var(--base-lightness-primary) + 15%)
    );
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 650;
    height: 100%;
    flex-grow: 1;
}

.confirmation-modal-actions button:hover {
    background-color: hsl(
        var(--base-hue-primary),
        var(--base-saturation-primary),
        calc(var(--base-lightness-primary) + 25%)
    );
    cursor: pointer;
}

.confirmation-modal-actions .btn-confirm {
    background-color: hsl(var(--base-hue-primary), var(--base-saturation-primary), calc(var(--base-lightness-primary) + 15%));
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 650;
    height: 100%;
    flex-grow: 1;
}

.confirmation-modal-actions .btn-confirm:hover {
    background-color: hsl(var(--base-hue-primary), var(--base-saturation-primary), calc(var(--base-lightness-primary) + 25%));
    cursor: pointer;
}

.confirmation-modal-actions .btn-confirm.btn-success-confirm {
    background-color: var(--systemGreen);
    color: #ffffff;
}

.confirmation-modal-actions .btn-confirm.btn-success-confirm:hover {
    background-color: var(--systemGreenHover);
}

/* MODAL ALERTS STYLING */
.alert-success, .alert-danger, .alert-info {
    width: 100%;
    height: auto;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.alert-success {
    background-color: var(--alertGreenL);
    border: solid 3px var(--alertGreenH);
    color: var(--alertGreenH);
}

.alert-danger {
    background-color: var(--alertRedL);
    border: solid 3px var(--alertRedH);
    color: var(--alertRedH);
}

.alert-info {
    background-color: var(--alertDefaultL);
    border: solid 3px var(--alertDefaultH);
    color: var(--alertDefaultH);
}

#role-modal-message, #finalStatusMessageArea {
    width: 100%; 
    padding: 0; 
    box-sizing: border-box;
}