@media (max-width: 320px) {
  /* PROFILE PAGE -- -- -- */
  .apply-for-reranking-container button {
    width: 80%;
  }
}

@media (max-width: 376px) {
  /* PROFILE PAGE STYLING -- -- -- */
  .basic-info-container h3, h5 {
    font-size: .9rem;
  }

  .progress-bars-container h4, h5 {
    font-size: .9rem;
  }

  .subtitle h5 {
    font-size: .75rem;
  }

  .subtitle h5 {
    font-size: .90rem;
  }

  .bottom-note h5 {
    font-size: .90rem;
  }

  .phone-num-modal-content-header p {
    font-size: .8rem;
  }
}

@media (max-width: 425px) {
  /* HOME PAGE -- -- -- */
  .overall-completion-overview-container {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      text-align: left;
  }

  .research-publication-container {
      border: 5px solid var(--primaryColor);
      width: 90%;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
  }

  .event-participation-container {
      border: 5px solid var(--primaryColor);
      width: 90%;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
  }

  /* PROFILE PAGE -- -- -- */
  .phone-num-modal {
      width: 90vw;
  }
}

@media (max-width: 450px) {
  /* PROFILE PAGE -- -- -- */
  .phone-num-modal {
      width: 90vw;
  }
}

@media (max-width: 480px) and (min-width: 425px) {
  /* HOME PAGE -- -- -- */
  .research-publication-top-part h1, .event-participation-top-part h1 {
    font-size: 1.05rem;
  }
}

@media (max-width: 500px) {
  /* NAVBAR STYLING -- -- -- */
  .navbar-left-side {
    margin-left: var(--navbarMarginMobileSize);
  }

  .navbar-right-side {
    display: none;
  }
}


@media (max-width: 626px) and (min-width: 376px) {
  /* PROFILE PAGE -- -- -- */
  .title h1 {
    font-size: 2rem;
  }

  .subtitle h4, h5 {
    font-size: 1rem;
  }

  .bottom-note h5 {
    font-size: 1rem;
  }

  .subtitle h2 {
    font-size: 1.5rem;
  }
}


@media (max-width: 626px) {
  /* PROFILE PAGE STYLING -- -- -- */
  .content {
    width: 90%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
  }

  .content-left-side {
      top: 0;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 35px;
  }

  .basic-info-container h3, h5 {
    font-size: 1.2rem;
  }

  .content-right-side {
      width: 100%; 
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* justify-content: center; */
      gap: 60px;
  }
}

@media (max-width: 814px) and (min-width: 626px){
  /* PROFILE PAGE -- -- -- */
  .basic-info-fields .basic-info h3 {
    font-size: .9rem;
  }

  .title h1 {
    font-size: 1.5rem;
  }

  .subtitle h4, h5 {
    font-size: .9rem;
  }

  .bottom-note h5 {
    font-size: .9rem;
  }

  .subtitle h2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 839px) {
  /* HOME PAGE -- -- -- */
  .main-content-container h1 {
    text-align: left;
    font-size: 1.3rem;
  }
}