/* PAGE HEADER STYLING -- -- -- */
.header {
    width: auto;
    height: 150px;
    display: flex;
    padding: 0px 20px 0px 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.header h1 {
    font-weight: 700;
}

.criterion-selector {
  position: relative;
  display: inline-block;
}

.criterion-selector select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: hsl(var(--base-hue-primary), var(--base-saturation-primary), calc(var(--base-lightness-primary) + 15%));;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 40px 10px 20px;
  
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align-last: center;
}

.criterion-selector::after {
  content: "▼";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #fff;
  pointer-events: none;
}

/* DATA DISPLAY TABLE STYLING -- -- -- */
.performance-metric-container {
    overflow-x: auto;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.performance-metric-container table {
    background-color: var(--tableBackgroundColor);
    width: 90%;
    height: auto;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.performance-metric-container table th {
    border-bottom: 2px solid var(--primaryColor);
    background-color: var(--primaryColor);
    color: white;
    padding: var(--tableHeaderPadding);
    font-weight: 500;
}

.performance-metric-container table td {
    border-left: 2px solid var(--tableDataBorderColor);
    border-right: 2px solid var(--tableDataBorderColor);
    border-bottom: 2px solid var(--tableDataBorderColor);
    padding: var(--tableDataPadding);
    text-align: center;
    font-weight: 500;
    color: white;
}

.performance-metric-container table td div {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.performance-metric-container table td a {
    width: auto;
    height: auto;
}

.performance-metric-container table td button {
    background-color: hsl(
    var(--base-hue-primary),
    var(--base-saturation-primary),
    calc(var(--base-lightness-primary) + 15%)
    );
    border: none;
    border-radius: 5px;
    width: auto;
    min-height: 35px;
    font-size: 1.1rem;
    font-weight: 500;
    justify-self: center;
    padding-left: 15px;
    padding-right: 15px;
}

.performance-metric-container table td button:hover {
    cursor: pointer;
    background-color: hsl(
    var(--base-hue-primary),
    var(--base-saturation-primary),
    calc(var(--base-lightness-primary) + 25%)
    );
}

/* SEARCH BAR STYLING -- -- -- */
.search-bar-container {
    width: 90%;
    height: auto;
    justify-self: center;
}

.search-bar-container form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px
}

.search-bar-container form input {
    border: none;
    border-radius: 5px;
    flex-grow: 1;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

.search-bar-container form button {
    background-color: transparent;
    border: none;
    width: auto;
    height: 35px;
    font-size: 1.05rem;
    font-weight: 600;
    border-radius: 5px;
}

.search-bar-container form button:hover {
    cursor: pointer;
    scale: 1.1;
}

/* LOAD MORE STYLING -- -- -- */
.load-more-container {
    position: sticky;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 90vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    justify-self: center;
}

.load-more-container button {
    background-color: hsl(
    var(--base-hue-primary),
    var(--base-saturation-primary),
    calc(var(--base-lightness-primary) + 15%)
    );
    border: none;
    color: white;
    border-radius: 5px;
    width: 225px;
    height: 50px;
    font-size: 1.1rem;
    font-weight: 500;
}

.load-more-container button:hover {
    cursor: pointer;
    background-color: hsl(
    var(--base-hue-primary),
    var(--base-saturation-primary),
    calc(var(--base-lightness-primary) + 25%)
    );
}